/* BEGIN RESET */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* END RESET */

/* General Settings */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
img {
  height: 30px;
}
button {
  color: #ffff;
  background-color: #0765eb;
  border-radius: 10px;
  border: 1px solid #0765eb;
  padding: 10px 20px;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
  padding: 0 10px;
}
a {
  color: #848182;
  text-decoration: none;
}
a:hover {
  color: #000;
}
.menu-wrapper {
  justify-content: space-between;
  width: 90%;
  padding: 30px 0;
  margin: auto;
}
.menu-right {
  float: right;
}
.menu-left {
  float: left;
}
.notify {
  padding-left: 10px;
  font-size: 10px;
  color: red;
}
.burger-menu {
  display: none
}
/* Dropdown */
.with-dropdown {
  position: relative;
}
.dropdown {
  padding: 15px;
  position: absolute;
  right: -50px;
  display: none;
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  box-shadow: 3px -7px 56px -30px rgba(0,0,0,0.75);
}
.dropdown.open {
  display: block;
}
.dropdown li {
  line-height: 30px;
}
/* END Dropdown */

/* media query */
@media screen and (max-width: 890px) {
  .burger-menu {
    display: inline-block;
    float: right;
  }
  .menu-right {
    display: none;
  }
  .burger-menu .fas {
    font-size: 40px;
  }
  .dropdown {
    font-size: 50px;
    padding: 50px;
  }
}
/* END media query */
